@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #ffffff;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff; /* azul Tailwind padrão */
  text-decoration: inherit;
}

a:hover {
  color: #ffffff; /* azul um pouco mais escuro */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #213547;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

